.navbar {
  position: absolute;
  top: 0;
  width: 100% ;
  height: 60px;
  padding: 32px;

  .items {
    display: flex;
    gap: 42px;

    span {
      width: 1px;
      background-color: rgb(182, 182, 182);
    }

    p {
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
    }
  }

  .center-logo {}
}