:root {
    --dark: #173330;
    --white: #fff;
    --gray-stroke: rgba(23, 51, 48, .1);
    --yellow: #daf42f;
    --white-stroke: rgba(255, 255, 255, .1);
    --transparent: rgba(255, 255, 255, 0);
    --gray: #ecf3f6;
    --teal: #00d0c0;
    --white-2: white;
    --black: black;
    --theme-light-blue-gradient: linear-gradient(0deg, rgb(65,143,222,1)0%, rgb(40, 98, 155) 100%);
    --color-theme-light-blue-gradient-1: rgb(40, 98, 155);
}

// .grad1 {
//     background: radial-gradient(circle at 90%, #6b89e9, #000000 40%, #000000 100%, #000000 75%);
//   }
  
//   .grad2 {
//     background: radial-gradient(circle at 90%, #6be9e9, #000000 40%, #000000 100%, #000000 75%);
//   }

//   .grad3{
//     background: linear-gradient(0deg, rgb(65,143,222,1)0%, rgb(40, 98, 155) 100%);
//   }