:root {
    --text-container-width: 60%;
    --content-margin: 16px;
    --section-margin: 50px;
}

h2 {
    color: #363737;
}

* {
    font-family: "Google Sans", Roboto, Arial, sans-serif !important;
}

h1 {
    font-size: 88px;
    font-weight: 500;
    line-height: 90%;
}

h2 {
    font-size: 52px;
    font-weight: 500;
    line-height: 100%;
}

h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 100%;
}


p {
    margin: 0;
    font-size: 16px;
}

.opacity-white-text {
    color: #fff;
}

.opacity-dark-text {
    color: #656c76;
}

.medium-text {
    font-size: 1.2em;
}

@media only screen and (max-width:480px) {

    h1 {
        font-size: 54px;
        line-height: 90%;
    }

    h2 {
        font-size: 40px;
        line-height: 100%;
    }

    h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 100%;
    }
}